:root {
  /* COLORS */
  --primary-color: #0b3d91;
  --primary-dark: #082d6b;
  --secondary-color: #d4a017;

  --body-bg: var(--primary-dark);
  --white: #ffffff;

  --text-primary: #1e1e1e;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;

  /* TYPOGRAPHY */
  --font-family: "Poppins", sans-serif;

  /* WIDTH */
  --container-width: 1200px;

  /* SPACING */
  --section-padding: 100px 0;

  /* RADIUS */
  --radius-sm: 8px;
  --radius-md: 12px;

  /* TRANSITION */
  --transition: 0.3s ease;

  /* SHADOW */
  --shadow-sm: 0 2px 10px rgba(0, 0, 0, 0.05);
}