@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background: var(--body-bg);
  color: var(--text-primary);
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  font-family: inherit;
}

section {
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: var(--section-padding);
}

/* REUSABLE SECTION HEADER */

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin-bottom: 70px;
}


.section-header .section-tag {
  display: inline-flex;

  align-items: center;

  gap: 12px;

  padding: 12px 24px;

  border-radius: 50px;

  font-size: 14px;

  font-weight: 600;

  margin-bottom: 22px;
}

/* TAG ICON */

.tag-icon {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(212, 160, 23, 0.12);

  color: var(--secondary-color);

  font-size: 14px;
}

/* TITLE */

.section-header h2 {
  position: relative;

  width: fit-content;

  margin: 0 auto;

  font-size: 52px;

  line-height: 1.2;
}

/* UNDERLINE */

.section-header h2::after {
  content: "";

  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  bottom: -14px;

  width: 80px;
  height: 4px;

  border-radius: 40px;

  background: var(--secondary-color);
}

/* LIGHT MODE */

.section-header.light .section-tag {
  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.1);

  color: var(--secondary-color);
}

.section-header.light h2 {
  color: white;
}

/* DEFAULT MODE */

.section-header:not(.light) .section-tag {
  background: rgba(212, 160, 23, 0.12);

  border: 1px solid rgba(212, 160, 23, 0.15);

  color: var(--secondary-color);
}

.section-header:not(.light) h2 {
  color: var(--text-primary);
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .section-header h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .section-header h2 {
    font-size: 32px;
  }

  .section-header h2::after {
    width: 60px;
  }
}